<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.android.safetyregulatoryinfo.overlay.oriole">

    <overlay
        android:targetPackage="com.android.safetyregulatoryinfo"
        android:priority="1"
        android:isStatic="true"/>

    <application android:hasCode="false"/>
</manifest>
