<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.google.android.apps.scone.overlays">

    <overlay
        android:targetPackage="com.google.android.apps.scone"
        android:targetName="SconeCbrsCustomizable"
        android:priority="0"
        android:isStatic="true"/>

    <application android:hasCode="false"/>
</manifest>
