<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.google.android.overlay.googleconfig2021">

    <overlay
        android:targetPackage="android"
        android:priority="0"
        android:isStatic="true"/>

    <application android:hasCode="false"/>
</manifest>
